<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="http://Impart.co/">Impart</a>
  is eHarmony for Companies. <a href="http://Impart.co/">Impart</a>. We make it easy for companies to find
  each other and build relationships.
</p>

